/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1d3557, #457b9d, #a8dadc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CARD (GLASS EFFECT) */
.container {
    width: 650px;
    padding: 35px;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 40px rgba(0,0,0,0.2);
    text-align: center;
    color: white;
}

/* TITLE */
h1 {
    font-size: 32px;
    margin-bottom: 25px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* INPUT */
input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

/* INPUT FOCUS */
input:focus {
    transform: scale(1.03);
}

/* BUTTON */
button {
    margin-top: 25px;
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    transition: all 0.3s ease;
}

/* BUTTON HOVER */
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* RESULT CARD */
#result {
    margin-top: 25px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    font-size: 22px;
    font-weight: bold;
}